.search{
    display: flex;
     flex-direction: column;
     align-items: center;
     
     
     
   }
   
   .myinput{
     border: 1px solid black;
     width:200px;
   }
   .espace{
     padding: 80px; 
     /* background-color:rgb(27, 25, 25); */
     background-image:url("https://image.freepik.com/free-psd/abstract-background-design_1297-87.jpg");
     color:white;
   }
   .mdbcard{
     margin-top:50px
   }
   button{
     width:200px;
   }
   .title{
     text-align:center; 
   }
   input{
     border:2px solid black;
     width:270px; 
     height:30px ;
   }
   .star{
     display: flex;
      justify-content: center;
      
      margin-top: 50px;
      margin-bottom:50px;
      margin-left:100px; 
      padding-bottom: -100px;
      
    }
     .App{
      background-color:#0B2F3A; 
    } 